.App {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}
body {
  background: rgb(109, 6, 153);
  background: linear-gradient(
    90deg,
    rgba(109, 6, 153, 0.9836309523809523) 2%,
    rgba(12, 160, 163, 0.7847514005602241) 50%,
    rgba(28, 55, 204, 1) 100%
  );
  font-size: 18px;
}
h2 {
  color: #f7f3e9;
  font-weight: 400;
}
input {
  font-size: 18px;
  padding: 8px 15px;
  outline: navajowhite;
  width: 80%;
}
.inputrow {
  display: flex;
  align-items: center;
  max-width: 350px;
  margin: 10px auto;
  padding: 5px 15px;
}
.addbtn {
  width: 20%;
  background-color: #4b6587;
  border-radius: 5px;
}

.flexrow {
  background-color: #8cc0de;
  max-width: 350px;
  margin: 10px auto;
  border-radius: 10px;
  padding: 5px 10px;
  text-transform: capitalize;
  display: flex;
  font-weight: 600;
  align-items: center;
  justify-content: space-between;
}
button {
  cursor: pointer;
  color: white;
  margin: 5px;
  font-size: 18px;
  padding: 10px 15px;
  border: none;
}

.red {
  background-color: #900c3f;
  border-radius: 5px;
}
.toggle {
  border-radius: 5px;
  background-color: #4b6587;
}
